body {
    background-color: white;
}

.am-content>form {
    margin-top: 1rem;
}

.form-group {
    margin-top: 2rem;
}
.input-label {
    position: absolute;
    color: rgba(0,0,0,.5);
    font-size: 1.4rem;
    font-weight: 200;
    transition: ease .1s;
}

.input-style {
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: .1rem solid rgba(0,0,0,.5);
    background-color: transparent;
    box-shadow: none;
}
.input-style:focus {
    outline: none;
    box-shadow: none;
    border-color: rgba(0,0,0,.5);
}

.submit-btn-block {
    padding: 0 1rem;
    margin-top: 1rem;
}
.submit-btn {
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    background-color: cornflowerblue;
    box-shadow: none;
    outline: none;
    border-radius: 2rem;
    border: none;
}
.tips {
    padding:  0;
    color: rgba(255,0,0,.7);
    margin: 0 ;
}
.tips p {
    padding:  0;
    color: rgba(255,0,0,.7);
    margin: 0 ;
}