
.login-form-block {
    padding: 0 ;
}

.login-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgba(0,0,0,.7);
}

.login-logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.input-style {
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: .2rem solid rgba(0,0,0,.5);
    background-color: transparent;
    box-shadow: none;
}
.input-style:focus {
    outline: none;
    box-shadow: none;
    border-color: rgba(0,0,0,.5);
}

.submit-button-style {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: darkorange;
    font-size: 1.8rem;
}
.submit-button-style:focus {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: darkorange;
}
.submit-button-style:hover {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: darkorange;
}
.submit-button-style:active {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: orangered;
}

.form-group {
    margin-bottom: 0 ;
}
.tips {
    margin-bottom: .5rem;
    margin-top: .5rem;
    color: rgba(255,0,0,.8);
}